{% extends '_default/page.html.twig' %}

{% block content %}
      <h1 class="page-title">{{ page.title|raw }}</h1>
{% if page.released is defined %}
      <span class="post-date">Publié le : {{ page.released|date("m/Y")|lower }}</span>
{% endif %}
{% if page.image is defined %}
      <img src="{{ page.image }}" />
{% endif %}
      {{ page.content }}
      <p>
{% if page.tags is defined %}
{% for tag in page.tags %}
        <a href="{{ url('tags/' ~ tag) }}">#{{ tag }}</a>&nbsp;
{% endfor %}
{% endif %}
      </p>
{% if page.iframe is defined %}
      <iframe width="100%" height="120" src="{{ page.iframe }}" frameborder="0" ></iframe>
{% endif %}
{% endblock content %}
